<h1>
    Demo app for OMNI-ISG Interview
</h1>

<h3>
    Technology Stack
</h3>
<ul>
    <li>.NET Core 3.1</li>
    <li>C#</li>
    <li>MVC (Views / Partial Views / View Components / Tag Helpers)</li>
    <li>.NET Core Entity Framework</li>
    <li>.NET Core Identity / Authorisation</li>
    <li>Migrations</li>
    <li>LINQ</li>
    <li>Model Binding / Validation</li>
    <li>Razor / Scaffolding via Razor Class Library</li>
    <li>HTML / CSS / Bootstrap</li>
</ul>

<h3>
    Design Patterns
</h3>
<ul>
    <li>MVC</li>
    <li>Dependency Injection / Inversion of Control</li>
    <li>Repository</li>
</ul>

<h3>
    Development Environment
</h3>
<ul>
    <li>macOS Mojave</li>
    <li>.NET Core 3.1 SDK</li>
    <li>VSCode / Visual Studio for Mac</li>
    <li>Docker (Container running Linux SQL 2017 Express)</li>
    <li>Git</li>
    <li>LibMan for client-side packages (Bootstrap)</li>
    <li>.NET CLI for NuGet server-side packages</li>
    <li><i>Please note I'm just as happy developing on Windows or Linux Distros</i></li>
</ul>

<h3>
    Hosting Environment
</h3>
<ul>
    <li>Cloud Platform: Microsoft Azure</li>
    <li>Code Container: WebApp running on Azure App Service Plan</li>
    <li>Database: Azure SQL db running Azure SQL Server</li>
</ul>

<p><i>This site is not indexed by search engines</i></p>
